body          {background-color:#333333; color:#fff;font-family: helvetica, arial; font-size:30px;}

.header       {font-size:65px;}
.message      {font-size:65px;color:#CCC;}

#footer       {padding-top:20px; font-size:12px;color:#f3f3f3;}
#footer a     {text-decoration:none; color:#cecece;}

form          {/* Just to center the form on the page */
              margin: 0 auto;
              width: 600px;
              /* To see the outline of the form */
              padding: 1em;
              border: 1px solid #666;
              border-radius: 1em;}

form div + div {margin-top: 10px;}
label         {
              display: inline-block;
              width: 160px;
              text-align: right;
              vertical-align: top;}

input, textarea {font: 20px sans-serif;width: 400px;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

}

.button-holder {padding-left: 165px;}
.button       {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;}




#center-this  {position:absolute;
              top: 50%;
              left: 50%;
              width:600px;
              height:500px;
              margin-top: -250px; /*set to a negative number 1/2 of your height*/
              margin-left: -300px; /*set to a negative number 1/2 of your width*/}